.dialogs {
    display: grid;

    grid-template-columns: 5fr 10fr;
}

.dialogsItems {
    padding: 10px;
    border-right: 1px solid #39603C;
}

.messages {
    padding: 10px;
    display: flex;
    flex-direction: column;
}

.button {
    max-width: 50px;
    align-self: flex-end;
    margin-top: 5px;
}