.nav {
    grid-area: n;
    border: 3px solid #39603C;
    margin-top: 5px;
    margin-right: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .item {
      margin-top: 5px;
      margin-bottom: 5px;
      display: flex;
  }

  .activeLink {
      color: #930406 !important;
  }
  .activeLink:before {
      content: '-';
      display: inline-block;
      align-self: center;
      margin-right: 2px;
      margin-top: auto;
      margin-bottom: auto;
  }
  .activeLink:after {
    content: '-';
    display: inline-block;
    align-self: center;
    margin-left: 2px;
}

  .item a {
      color: #39603C;
      text-decoration: none;
      font-size: 18px;
      font-family: Verdana, sans-serif;
  }